{% extends 'base.html' %}
{% block content %}
<h2>Games</h2>
<p>Browse through our growing list of must-play indie games to find your next addictive adventure!</p>
<ul>
    {% for g in game_list %}
        <li><a href="{% url 'gamedetails' id=g.id %}"><b>{{ g.GameTitle }}</b></a> - <i>{{ g.Developer }}</i></li>
    {% endfor %}
</ul>
Add to this colleciton:
<ul style="list-style-type: none;">
    <li><a href="{% url 'addgame' %}">+ Game</a></li>
    <li><a href="{% url 'addgenre' %}">+ Genre</a></li>
</ul>
{% endblock %}