{% extends 'base.html' %}
{% block content %}
<h4>Welcome to the app edition of Indie Storm!</h4>
<p>Your modestly outfitted hub for recommended indie video games and reviews is now being brought to you through the new web app! We are a growing community of indie video game enthusiasts dedicated to providing you with news and reviews on the best indie titles available. Feel free to browse our catalogue or check out our gameplay reviews for more information. Login or create an account to join us and start contributing content to our site!</p>
{% endblock %}